.loading-screen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40vw;
  max-height: 50vh;
  background-color: white;
}
.loading-screen-wrapper {
  height: "100vh"; 
  display: "flex";
  align-items: "center";
  position: relative;
  background: white;
  z-index: 3;
}